/*** VANILLA SGI SELECTORS ***/

#add_comment {
  padding: 16px;
  text-align: initial;
  line-height: 0;
}

#add_comment > p:nth-of-type(1),
#add_comment > br {
  display: none;
}

#add_comment textarea#message {
  box-sizing: border-box;
  margin-bottom: 16px;
}

#add_comment input#send {
  display: block;
  padding: 8px;
  font-size: 12px;
}

/* header's navigation links */
#top-mobile > a,
#top-nav > ul a {
  text-transform: uppercase;
}

/*** SGI HACKER TOOLS SELECTORS ***/

.sht-row-wrapper {
  display: flex;
}

.sht-row-wrapper > *:not(:last-child) {
  margin-right: 8px;
}

.sht-mt-lg {
  margin-top: 16px;
}

.sht-no-mb,
#add_comment textarea#message.sht-no-mb {
  margin-bottom: 0;
}

.sht-button {
  display: block;
  padding: 8px;
  font-size: 12px;
}

.sht-tooltip-icon {
  position: relative;
  bottom: 2px;
  width: 18px;
  vertical-align: middle;
  margin-left: 8px;
}

.sht-tooltip-icon-large {
  width: 22px;
  vertical-align: middle;
}

/* message's (comment's) chars counter */
#sht-message-chars {
  font-size: 12px;
  line-height: 28px;
}

.sht-message-chars-alert {
  color: #f83030;
}

.sht-mini-message-chars-alert {
  color: #e1b404;
}

#sht-send-me-button {
  background-color: #e3cc78;
}

.sht-torrent-link {
  font-size: 20px;
}
