:root {
  --color-primary: #e3cc78;
  --color-alert: #f83030;
  --color-alert-hover: #f8306c;
  --color-warning: #e1b404;
  --color-action: #a49580;
  --color-action-hover: #b6ff00;

  --indent-sm: 4px;
  --indent-md: 8px;
  --indent-lg: 16px;

  --font-size: 12px;
  --line-height: 20px;
  --font-size-lg: 20px;
  --line-height-lg: 28px;
}

/*** VANILLA SGI SELECTORS ***/

#add_comment {
  padding: var(--indent-lg);
  text-align: initial;
  line-height: 0;
}

#add_comment > p:nth-of-type(1),
#add_comment > br {
  display: none;
}

#add_comment textarea#message {
  box-sizing: border-box;
  margin-bottom: var(--indent-lg);
}

#add_comment input#send {
  display: block;
  padding: var(--indent-md);
  font-size: var(--font-size);
}

/* header's navigation links */
#top-mobile > a,
#top-nav > ul a {
  text-transform: uppercase;
}

#board .name > * {
  margin: 0 var(--indent-sm);
}

/*** SGI HACKER TOOLS SELECTORS ***/

.sht-row-wrapper {
  display: flex;
}

.sht-row-wrapper > *:not(:last-child) {
  margin-right: var(--indent-md);
}

.sht-mt-lg {
  margin-top: var(--indent-lg);
}

.sht-no-mb,
#add_comment textarea#message.sht-no-mb {
  margin-bottom: 0;
}

.sht-button {
  display: block;
  padding: var(--indent-md);
  font-size: var(--font-size);
}

.sht-tooltip-icon {
  position: relative;
  bottom: 2px;
  width: 18px;
  vertical-align: middle;
  margin-left: var(--indent-md);
}

.sht-tooltip-icon-large {
  width: 22px;
  vertical-align: middle;
}

.sht-tooltip-icon-small {
  width: 16px;
  vertical-align: middle;
}

/* message's (comment's) chars counter */
#sht-message-chars {
  font-size: var(--font-size);
  line-height: var(--line-height-lg);
}

.sht-message-chars-alert {
  color: var(--color-alert);
}

.sht-mini-message-chars-alert {
  color: var(--color-warning);
}

#sht-send-me-button {
  background-color: var(--color-primary);
}

.sht-torrent-link {
  font-size: var(--font-size-lg);
}

.sht-rep-changer {
  cursor: pointer;
}

.sht-menu-item {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--line-height);
  cursor: pointer;
}

.sht-menu-item > *:not(:last-child) {
  margin-right: var(--indent-sm);
}

.sht-menu-checkbox {
  position: relative;
  top: 1px;
  cursor: pointer;
}

.sht-ban-icon,
.sht-hide-icon {
  width: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.sht-ban-user,
.sht-hide-user {
  font-weight: bold;
  margin-left: var(--indent-lg);
  cursor: pointer;
}

.sht-ban-user {
  color: var(--color-alert);
}

.sht-ban-user:hover {
  color: var(--color-alert-hover);
}

.sht-hide-user {
  color: var(--color-action);
}

.sht-hide-user:hover {
  color: var(--color-action-hover);
}

.sht-ban-user > .sht-ban-icon,
.sht-hide-user > .sht-hide-icon {
  vertical-align: bottom;
}

.sht-ban-user > *:not(:last-child),
.sht-hide-user > *:not(:last-child) {
  margin-right: var(--indent-sm);
}
