:root {
  --color-primary: #e3cc78;
  --color-alert: #f83030;
  --color-alert-hover: #ff20d2;
  --color-okay: #99d642;
  --color-okay-hover: #b6ff00;
  --color-warning: #e1b404;
  --color-action: #a49580;
  --color-action-hover: #b6ff00;
  --color-regular: #b5b5b5;

  --indent-sm: 4px;
  --indent-md: 8px;
  --indent-lg: 16px;

  --font-size-sgi: 8pt;
  --font-size: 12px;
  --line-height: 20px;
  --font-size-lg: 20px;
  --line-height-lg: 28px;
}

/*** VANILLA SGI SELECTORS ***/

#add_comment {
  padding: var(--indent-lg);
  text-align: initial;
  line-height: 0;
}

#add_comment > p:nth-of-type(1),
#add_comment > br {
  display: none;
}

#add_comment textarea#message {
  box-sizing: border-box;
  margin-bottom: var(--indent-lg);
}

#add_comment input#send {
  display: block;
  padding: var(--indent-md);
  font-size: var(--font-size);
}

/* header's navigation links */
#top-mobile > a,
#top-nav > ul a {
  text-transform: uppercase;
}

#board .name > * {
  margin: 0 var(--indent-sm);
}

/*** SGI HACKER TOOLS SELECTORS ***/

.sht-row-wrapper {
  display: flex;
}

.sht-row-wrapper > *:not(:last-child) {
  margin-right: var(--indent-md);
}

.sht-mt-lg {
  margin-top: var(--indent-lg);
}

.sht-no-mb,
#add_comment textarea#message.sht-no-mb {
  margin-bottom: 0;
}

.sht-button {
  display: block;
  padding: var(--indent-md);
  font-size: var(--font-size);
}

.sht-tooltip-icon {
  position: relative;
  bottom: 2px;
  width: 18px;
  vertical-align: middle;
  margin-left: var(--indent-md);
}

.sht-tooltip-icon-large {
  width: 22px;
  vertical-align: middle;
}

.sht-tooltip-icon-small {
  width: 16px;
  vertical-align: middle;
}

/* message's (comment's) chars counter */
#sht-message-chars {
  font-size: var(--font-size);
  line-height: var(--line-height-lg);
}

.sht-message-chars-alert {
  color: var(--color-alert);
}

.sht-mini-message-chars-alert {
  color: var(--color-warning);
}

#sht-send-me-button {
  background-color: var(--color-primary);
}

.sht-torrent-link {
  font-size: var(--font-size-lg);
}

.sht-rep-changer {
  cursor: pointer;
}

.sht-menu-item {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--line-height);
  cursor: pointer;
}

.sht-menu-item > *:not(:last-child) {
  margin-right: var(--indent-sm);
}

.sht-menu-checkbox {
  position: relative;
  top: 1px;
  cursor: pointer;
}

.sht-icon {
  width: 12px;
  vertical-align: middle;
}

.sht-action-icon {
  width: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.sht-action-icon.sht-unblock-icon {
  width: 16px;
}

#board .name .sht-action-icon.sht-unblock-icon {
  margin: 1px 5px;
}

.sht-ban-hide-button {
  font-weight: bold;
  margin-left: var(--indent-lg);
  cursor: pointer;
  vertical-align: bottom;
}

.sht-ban-hide-button > .sht-action-icon {
  vertical-align: bottom;
}

.sht-ban-hide-button > *:not(:last-child) {
  margin-right: var(--indent-sm);
}

.sht-ban-hide-button .sht-action-icon.sht-unblock-icon {
  width: 18px;
}

.sht-block-user {
  color: var(--color-alert);
}

.sht-block-user:hover {
  color: var(--color-alert-hover);
}

.sht-unblock-user {
  color: var(--color-okay);
}

.sht-unblock-user:hover {
  color: var(--color-okay-hover);
}

.sht-hide-user,
.sht-unhide-user {
  color: var(--color-action);
}

.sht-hide-user:hover,
.sht-unhide-user:hover {
  color: var(--color-action-hover);
}

.sht-hide {
  display: none;
}

.sht-blocked-msg-plug {
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color-regular);
  padding: 5px 10px 10px 10px;
}

.sht-blocked-msg-plug > *:not(:last-child) {
  margin-right: var(--indent-md);
}

.sht-blocked-msg-ava {
  width: 24px;
  height: 24px;
}

.sht-support-wrapper {
  display: flex;
  justify-content: center;
  padding: var(--indent-sm);
}

.sht-support {
  font-weight: bold;
  font-size: var(--font-size);
}

#sht-blackList {
  margin-top: var(--indent-md);
  text-align: left;
}

#sht-blackList > h4 {
  font-size: var(--font-size);
  line-height: var(--line-height-lg);
  color: var(--color-regular);
}

#sht-blackList-content {
  border: 1px solid var(--color-regular);
  border-radius: 8px;
  padding: var(--indent-md);
}

#sht-blackList-content > *:not(:last-child) {
  margin-bottom: var(--indent-sm);
}

#sht-blackList-content .sht-blackList-item-wrapper {
  padding: 0;
  line-height: var(--line-height);
}

.sht-blackList-item {
  font-size: var(--font-size);
  line-height: var(--line-height);
  margin-left: var(--indent-lg);
  vertical-align: middle;
  padding: 3px 0;
}

.sht-blackList-item > img {
  position: relative;
  bottom: 1px;
  margin-right: var(--indent-sm);
}

.sht-blackList-item span {
  font-size: var(--font-size);
  line-height: var(--line-height);
}

.sht-clickable {
  cursor: pointer;
}

.sht-blocked-me-msg-plug {
  margin-left: 110px;
  padding: 10px;
  color: var(--color-regular);
  font-size: var(--font-size-sgi);
}

.sht-contacts {
  display: flex;
  justify-content: center;
  padding: var(--indent-sm);
  margin-top: var(--indent-lg);
}

.sht-contacts img,
.sht-contacts a {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sht-contacts > *:not(:last-child) {
  margin-right: 10px;
}
